<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 - Page Not Found</title>
    <style>
        body {
            background-color: #f9f9f9;
            color: #333;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
            padding: 20px;
            text-align: center;
            overflow: hidden ;
        }
        .container {
            max-width: 600px;
            
        }
        h1 {
            font-size: 4rem;
            margin-bottom: 0.5rem;
        }
        h2 {
            font-size: 1.5rem;
            color: #666;
            margin-bottom: 1.5rem;
        }
        p {
            font-size: 1rem;
            margin-bottom: 1rem;
        }
        .homepage-btn{
            display: inline-block;
            padding: 0.5rem 1rem;
            background-color: #333;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
            transition: background-color 0.3s ease;
        }
        .homepage-btn:hover {
            background-color: #555;
        }
        .vl {
            border-left: 5px solid darkslategrey;
            height: 500px;
            margin-right: 1lvw;
            margin-left: 1lvw;
        }
    </style>
</head>
<body>
     
    <div class="container">
        <h1>404</h1>
        <h2>Oops! Page Not Found</h2>
        <p>It seems like the page you are looking for doesn't exist or has been moved.</p>
        <p>Please check the URL or return to the homepage.</p>
        <a class="homepage-btn" href="/">Go to Homepage</a>
    </div>
    
    <!-- <div class="vl"></div> -->

    <%- include('partials/navbar') %>
</body>
</html>
