<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"> 

    <title>Daniel | About Me</title>
</head>

<style>

    body{
            background-color: darkslategrey;
            /* background-color: #e5e5f7; */
           
            
            background-image:  linear-gradient(#22222230 2px, transparent 2px), linear-gradient(90deg, #22222230 2px, transparent 2px), linear-gradient(#22222230 1px, transparent 1px), linear-gradient(90deg, #22222230 1px, darkslategrey 1px);
            background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
            background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
            overflow-y: scroll ;
        }
        
        hr{
            max-width: 45%;
            margin-top: 3%;
            margin-bottom: 3%;
            margin-left: 0%;
        }
        .background-fill-anim{
            background-color: #80808040;
            opacity: 0.8;
            background: radial-gradient(circle, transparent 20%, darkslategrey 20%,darkslategrey 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, darkslategrey 20%, darkslategrey 80%, transparent 80%, transparent) 25px 25px, linear-gradient(#80808040 2px, transparent 2px) 0 -1px, linear-gradient(90deg, #80808020 2px, darkslategrey 2px) -1px 0;
            background-size: 50px 50px, 50px 50px, 25px 25px, 25px 25px;
        }
        .root{
            position: relative;
            margin-left: 20lvw;
            max-width: 65%;
            margin-top: 3.5rem;

            font-family: 'Courier New', Courier, monospace;
            color: white;
            

            
        }
        .miu-href{
            color: white;
            text-decoration: underline ;
            text-decoration-color: red;
        }
        .link{
           
            text-decoration: underline;
            color: white;
            transition: 0.2s;
        }
        .link:hover{
            
            font-size: calc(100% + 3px);
            transition: 0.2s;
        }
        .img-hover-drums:hover{
            position: relative;
            
        }
        
        .img-hover-drums:hover:after{
            content: url("/assets/images/MIU Masscom grad 25.webp");
            display: block;
            position: absolute;
            left: 123px; /* change this value to one that suits you */
            top: 56px; 
            opacity: 1;
            
        }
        

        
</style>
<body>
    
    <%- include('partials/navbar') %>
    
    <div class="root">
        <img style=" margin: 5% 20px 20px 0; float: left; border-radius: 50%;" src="/assets/images/my pic.webp" height="200px" width="200px" alt="Me">
        <h1 style="text-align: justify; padding-top: 5%;">Hi there, I am Daniel but my friends call me Daniool. I'm an AI Major at <a class="miu-href" target="_blank" href="https://www.miuegypt.edu.eg/">MIU</a> currently in my senior year with Passion for Software Engineering, AI, Tech and Aviation. I also enjoy plaing the <a class="img-hover-drums">Drums</a>, Gaming and playing squash.</h1>

        

        <h3 style="margin-top: 10%;">Check out my <a class="link" href="/blog">blog</a>, I write about Intresting Stuff</h3>
        
        <h2>Or</h2>
        
        <h3>  take a look at my <a class="link" href="/assets/pdf/cv.pdf" download="Daniel Michel Sadek CV.pdf"> cv</a></h3>
        (You can view it online if you don't want to download it. <a class="link" href="/assets/pdf/cv.pdf">check it out</a> ) 

        
        
        <h1 style="margin-bottom: 1%; margin-top: 10%;">Wanna Learn more about me? Keep scrolling!</h1><h3 style=" margin-left: 1%; margin-top: 0%;"><a class="link" href="#contact-me">js wanna contact me?</a></h3>

        <br>
        <h2>Languages I use in My projects:</h2>
        
        <img src="https://img.shields.io/badge/typescript-%23007ACC.svg?style=for-the-badge&logo=typescript&logoColor=white" alt="TS">
        <img src="https://img.shields.io/badge/javascript-%23323330.svg?style=for-the-badge&logo=javascript&logoColor=%23F7DF1E" alt="JS">
        <img src="https://img.shields.io/badge/python-3670A0?style=for-the-badge&logo=python&logoColor=ffdd54" alt="Python">
        <img src="https://img.shields.io/badge/c++-%2300599C.svg?style=for-the-badge&logo=c%2B%2B&logoColor=white" alt="c++">
        <img src="https://img.shields.io/badge/java-%23ED8B00.svg?style=for-the-badge&logo=openjdk&logoColor=white" alt="">
        <img src="https://img.shields.io/badge/php-%23777BB4.svg?style=for-the-badge&logo=php&logoColor=white" alt="">🤮

        <p>(I'm a big PHP Hater)</p>
        
        <h2>Libraries/Frameworks</h2>
        <h3>Software Development</h3>

        

        <img src="https://img.shields.io/badge/node.js-6DA55F?style=for-the-badge&logo=node.js&logoColor=white" alt="">
        <img src="https://img.shields.io/badge/express.js-%23404d59.svg?style=for-the-badge&logo=express&logoColor=%2361DAFB" alt="">
        <img src="https://img.shields.io/badge/FastAPI-005571?style=for-the-badge&logo=fastapi" alt="">
        <img src="https://img.shields.io/badge/ejs-%23B4CA65.svg?style=for-the-badge&logo=ejs&logoColor=black" alt="">
        <img src="https://img.shields.io/badge/sfml--l?style=for-the-badge&logo=sfml&logoColor=%238CC445&color=%238CC445" alt="">
        <img src="https://img.shields.io/badge/javafx-%23FF0000.svg?style=for-the-badge&logo=javafx&logoColor=white" alt=""> (This thing scares me)

        <h4>Some of the libraries I use but couldn't find nice bagdes for:</h4>
        <ul>
            <li>Nlohmann JSON for c++</li>
            <li>curlpp for c++</li>
            <li>TGUI GUI library for SFML</li>
        </ul>

        <h3>ML/DL</h3>
        <img src="https://img.shields.io/badge/TensorFlow-%23FF6F00.svg?style=for-the-badge&logo=TensorFlow&logoColor=white" alt=""> 
        <img src="https://img.shields.io/badge/scikit--learn-%23F7931E.svg?style=for-the-badge&logo=scikit-learn&logoColor=white" alt="">
        <img src="https://img.shields.io/badge/numpy-%23013243.svg?style=for-the-badge&logo=numpy&logoColor=white" alt="">
        <img src="https://img.shields.io/badge/Matplotlib-%23ffffff.svg?style=for-the-badge&logo=Matplotlib&logoColor=black" alt="">
        <img src="https://img.shields.io/badge/cuda-000000.svg?style=for-the-badge&logo=nVIDIA&logoColor=green" alt="">
        <p>(TensorFlow on a Windows machine with GPU support is a nightmare)</p>
        


        <h2>Some of the Technologies used:</h2>

        <h3>Database:</h3>
        <img src="https://img.shields.io/badge/MongoDB-%234ea94b.svg?style=for-the-badge&logo=mongodb&logoColor=white" alt="">
        <img src="https://img.shields.io/badge/mysql-4479A1.svg?style=for-the-badge&logo=mysql&logoColor=white" alt="">
        <img src="https://img.shields.io/badge/sqlite-%2307405e.svg?style=for-the-badge&logo=sqlite&logoColor=white" alt="">(Sqlite Used in this Portfolio website)

        <h4>ORM</h4>
        <img src="https://img.shields.io/badge/Sequelize-52B0E7?style=for-the-badge&logo=Sequelize&logoColor=white" alt="">

        <h3>Other Technologies:</h3>
        <img src="https://img.shields.io/badge/Rabbitmq-FF6600?style=for-the-badge&logo=rabbitmq&logoColor=white" alt="">
        <img src="https://img.shields.io/badge/docker-%230db7ed.svg?style=for-the-badge&logo=docker&logoColor=white" alt="">
        <img src="https://img.shields.io/badge/AWS-%23FF9900.svg?style=for-the-badge&logo=amazon-aws&logoColor=white" alt="">
        <img src="https://img.shields.io/badge/scrutinizer--ci?logo=scrutinizerci&style=for-the-badge&logoColor=white&labelColor=blue&color=blue" alt="">


        
        <br><hr>
        
       <h2> Wanna Get in touch? check out my socials below</h2>

       <div id="contact-me" class="socials">
            
        <a style="background-color: black ; padding: 0.4rem; border-radius: 5px;" class="link" href="">Linked<span style="color: #0072b1;">In</span></a>
        <a style="background-color: #1f1f1f ; padding: 0.4rem; border-radius: 5px; color: #7289da;" class="link" href="">Discord</a>


        <a style="background-color: #5158d4; padding: 0.4rem; border-radius: 5px; text-decoration: none; color: white; font-family: sans-serif;" class="link" href="https://instagram.com/danioool_">
             <span style=" color: indianred;">
                <i class="fab fa-instagram"></i>
            </span>
        Follow on Instagram</a>
       
        <span style="font-size: x-large;">Or Shoot me an <a style="color: #FBBC05;" href="mailto:danielmichel.30504@gmail.com">email</a> </span>
         

        </div>

        <br>
        <hr>
        <p style="padding-bottom: 5%;"> Bored? check out this <a class="link" href="/minigame">minigame</a></p>
       
    </div>

</body>
</html>